.container{
    margin: 0 auto;
    width: 1200px;
    min-width: 1200px;
}
main,header,footer{
    min-width: 1200px;
}
/* 头部 */
#header {
    height: 60px;
    margin: 0 auto;
    /* width: 1200px; */
    /* line-height: 60px; */
    position: relative;
}

/* logo */
#logo {
    float: left;
    line-height: 60px;
}

#logo>a {
    text-align: center;
    display: block;
    height: 60px;
    width: 60px;
    color: #eb0028;
    font-size: 34px;
}

#logo h1 {
    text-indent: -9999px;
}

/* 头部的导航栏 */
#head_nav {
    float: left;
    margin-left: 210px;
    line-height: 60px;
}

#nav_info li {
    float: left;
    margin-right: 1px;
}

#nav_info li a {
    color: rgb(130, 130, 130);
    display: block;
    height: 58px;
    border-bottom: 2px solid #fff;
    padding: 0 35px;
    margin-right: 1px;
    transition: color, border-color .2s;
}

#nav_info li a:hover {
    color: #eb0028;
    border-color: #eb0028;
}

/* 头部登录搜索 */
#mine {
    float: right;
}

#mine_ul {
    position: relative;
}

#mine_ul li {
    line-height: 60px;
    text-align: center;
    float: left;
    margin-right: 1px;
}

#mine_ul li a {
    display: block;
    height: 58px;
    width: 60px;
    color: rgb(130, 130, 130);
    margin-right: 1px;
    border-bottom: 2px solid #fff;
    transition: color, border-color .2s;
}

#mine_ul li a:hover {
    color: black;
    border-color: black;
}

#mine_ul .icon-shangcheng {
    font-size: 28px;
}

#mine_ul .icon-fangdajing {
    font-size: 20px;
}

#mine_icon img {
    width: 30px;
    border-radius: 50%;
    margin-top: 15px;
}

/* 隐藏的购物车 */
#shopCar {
    /* height: 190px; */
    width: 400px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    border-top: 1px solid #dfdfdf;
    position: absolute;
    display: none;
    top: 60px;
    right: 0;
    z-index: 10;
}
/* 购物车数量 */
#carNum{
    display: none;
    height: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 28px;
    right: 77px;
    background: #eb0028;
    border-radius: 50%;
    color: white;
}

#shopCar-tips {
    height: 61px;
    border-top: 1px solid #dfdfdf;
    padding: 10px 20px;
}

#goodslist {
    min-height: 108px;
    overflow: hidden;
}

#goshop {
    margin-top: 10px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    display: block;
    background: #eb0028;
    border-radius: 5px;
    color: white;
}

#goods-null {
    text-align: center;
    font-size: 16px;
    color: rgb(153, 153, 153);
    margin-top: 50px;
    height: 24px;
    line-height: 24px;
}

/* 登录注册 */
#mineBox {
    padding-top: 20px;
    background: white;
    height: 236px;
    width: 320px;
    position: absolute;
    top: 60px;
    right: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    border-top: 1px solid #dfdfdf;
    display: none;
    z-index: 10;
}

#mineBox a {
    border-bottom: 1px solid #dfdfdf;
    margin: 0 20px;
    display: block;
    height: 50px;
    line-height: 50px;
}

#mineBox #load {
    border: none;
    height: 83px;
    line-height: 83px;
    color: #09c;
}


#store .icon-sanjiaoxing::before {
    display: inline-block;
    transition: all .3s;
}

#store:hover .icon-sanjiaoxing::before {
    transform: rotateZ(180deg);
}

/* 商城快捷分类 */
#store_type {
    height: 140px;
    width: 100%;
    background: white;
    position: absolute;
    top: 60px;
    display: none;
    z-index: 10;
}

#phone_icons {
    margin: 0 auto;
    width: 900px;
    display: flex;
}

#phone_icons a {
    display: flex;
    min-width: 150px;
    width: 16.66667%;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#phone_icons a:hover {
    color: #eb0028;
}

#phone_icons a i {
    margin-left: 4px;
    font-size: 40px;
}

/* 底部 */
#footer {
    padding-top: 40px;
    height: 560px;
    background: #fcfcfc;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#footer_left {
    float: left;
}

.footer_ul {
    padding: 0 20px;
    float: left;
    width: 200px;
}

.footer_ul li {
    padding: 8px 0;
}

.footer_ul li a {
    line-height: 24px;
    height: 24px;
    color: #828282;
    display: block;
}

.footer_ul li:first-of-type {
    line-height: 50px;
    font-size: 16px;
    height: 50px;
}

#footer_right {
    text-align: center;
    padding-top: 20px;
    width: 240px;
    float: right;
}

#footer_right h3 {
    line-height: 30px;
    height: 30px;
    font-weight: bold;
}

#online {
    position: relative;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 18px;
    line-height: 48px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #fff;
    display: block;
    height: 50px;
    width: 100%;
    transition: all .3s;
}

#online:hover {
    color: #fff;
    background: #000;
}

#footer_right i {
    font-size: 24px;
    margin: 10px;
    color: red;
}

#footer_right .icon-weixin {
    color: rgb(0, 173, 25);
}

.footer_icon {
    margin-top: 10px;
}

#footer_top {
    height: 300px;
}

#footer_bottom {
    background-color: #f9f9f9;
    height: 260px;
}


#china {
    line-height: 70px;
    height: 70px;
    padding: 30px 20px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.china {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

#china ul {
    float: right;
    display: flex;
    justify-content: space-around;
    width: 600px;
}

#china ul li {
    float: left;
}

#china ul li a {
    color: rgb(130, 130, 130);
}

#china ul li a:hover {
    color: #333333;
}

#copyright {
    padding: 20px 0 30px;
}

#copyright p {
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: rgb(130, 130, 130);
}

#copyright p:last-of-type {
    font-size: 16px;
}

/* 搜索框 */
#searchBox {
    padding-top: 20px;
    position: absolute;
    height: 55px;
    width: 50%;
    margin-left: 180px;
    display: none;
}

#search {
    width: 100%;
    height: 30px;
    padding: 10px 50px;
    border: none;
    color: #101920;
    font-size: 14px;
    line-height: 40px;
}

#searchBox .icon-fangdajing {
    position: absolute;
    top: 25px;
    left: 0;
}

#search-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0;
    background: none;
    border: none;
    font-size: 18px;
    height: 50px;
    width: 50px;

}

#searchBox .search-list {
    padding: 10px 0;
    position: relative;
    top: 10px;
    border-top: 1px solid #dfdfdf;
    background: white;
    z-index: 10;
    width: 100%;
}

.search-list a {
    color: rgb(130, 130, 130);
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
}

/* 购物车有内容 */
#shopCar .car-head {
    height: 60px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 60px;
}

#mine .car-head span:first-of-type {
    font-size: 20px;
}

#mine .car-goods {
    height: 70px;
    margin: 0 20px 20px;
    padding-top: 20px;
    border-top: 1px solid #dfdfdf;
}

#mine .car-goods img {
    width: 65px;
    float: left;
    margin-left: 15px;
}

#mine .goods {
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    color: black;
}

.goodsName,
.goodsPrice {
    height: 24px;
}

#mine .goodsNum {
    float: right;
}

#sum-text {
    display: none;
    border-top: 1px solid #dfdfdf;
    padding: 10px 20px;
}

#sum-text p {
    text-align: right;
}

#sumPrice {
    height: 36px;
    line-height: 36px;
    color: black;
    margin-top: 10px;
}

#sumPrice .bigNum {
    font-size: 24px;
}

#sum-text .payPhone {
    cursor: pointer;
    margin: 20px 0px 10px;
    background: white;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    width: 175px;
    height: 40px;
}

#sum-text .payPhone:nth-of-type(2) {
    background: #eb0028;
    margin-left: 5px;
    color: white;
    border-color: #eb0028;
}
