.container {
    width: 1200px;
    margin: 0 auto;
}

/* 购物车内容 */
#main {
    background-color: #efefef;
    padding: 40px;
}

#goodsreturn {
    background: #f9f9f9;
    padding: 0 60px;
    display: flex;
    justify-content: space-around;

}

#goodsreturn span {
    height: 170px;
    text-align: center;
    color: black;
    font-weight: bold;
}

#goodsreturn i {
    font-weight: normal;
    display: block;
    color: #7db93f;
    font-size: 50px;
    margin-top: 43px;
}

#carlist {
    background-color: #fff;
    position: relative;
}

#carlist h2 {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #dfdfdf;
    color: #101920;
    padding-left: 30px;
}

/* 商品的价格数量详情 */
#item .pay-goods {
    padding-left: 1.66667%;
    padding-right: 1.66667%;
    margin: 20px 2.5% 30px;
    border-bottom: 1px solid #dfdfdf;
}

.pay-left {
    float: left;
    width: 20%;
}

.pay-left a {
    display: block;
    width: 84px;
}

.pay-left a img {
    width: 100%;
}

.pay-right {
    float: left;
    width: 80%;

}

.pay-right h3 {
    font-size: 18px;
    padding: 10px 0 10px 10px;
    float: left;
    width: 37.5%;
}

.pay-money {
    float: left;
    width: 20%;
    line-height: 2em;
    text-align: center;
}

.pay-money .discounts {
    display: block;
    width: 100%;
    line-height: 1em;
    font-size: 12px;
    color: rgb(130, 130, 130);
}

.changeNum {
    width: 20%;
    float: left;
    margin-top: 10px;
    text-align: center;
}

.numBorder {
    border: 1px solid #dfdfdf;
    display: inline-block;
}

.changeNum button {
    height: 24px;
    width: 24px;
    font-size: 12px;
    background: none;
    color: #ccc;
    text-align: center;
    border: none;
    cursor: pointer;
}

.changeNum button:hover {
    background: #999;
}

.changeNum .nowNum {
    border: none;
    height: 24px;
    width: 32px;
    font-size: 12px;
    background: none;
    color: #ccc;
    text-align: center;
}

.pay-right .price {
    font-size: 14px;
    color: rgb(130, 130, 130);
    line-height: 46px;
}

.pay-right .icon-guanbi {
    margin-top: 11px;
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
    float: right;
    font-size: 20px;
}

/* 清单 */
.list {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #dfdfdf;
    padding-left: 10px;
    margin-bottom: 20px;
}

.list li {
    list-style-type: disc;
    list-style-position: inside;
    color: rgb(130, 130, 130);
    padding-bottom: 5px;
}

.list li:first-of-type {
    color: #101920;
    list-style: none;
}

/* 购物车中无商品样式 */
#item #noGoods {
    text-align: center;
    background: url(../images/nogoods.png)no-repeat center;
    height: 200px;
    padding: 60px 0 80px;
}

.no-text {
    margin: 200px 0 30px;
    color: rgb(130, 130, 130);
}

.goShop {
    margin: 0 auto;
    line-height: 40px;
    color: white;
    display: block;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background: #eb0028;
}

/* 购物车总和信息 */
#sum {
    display: none;
    padding-bottom: 40px;
    padding-left: 4.16667%;
    padding-right: 4.16667%;
}

#sumNum {
    float: left;
    width: 62%;
    color: rgb(130, 130, 130);
}

#sumNum>span {
    color: black;
}

#sumText {
    float: left;
    width: 38%;
    font-size: 14px;
    color: rgb(130, 130, 130);
}

#sumText .total {
    margin-bottom: 10px;
}

#sumText .spare {
    padding-bottom: 25px;
    border-bottom: 1px solid #dfdfdf;
}

#sumText .total-right {
    float: right;
}

#sumText .really-price {
    display: block;
    font-size: 30px;
    line-height: normal;
    margin-top: -18px;
    color: black;
}

#sumText .really-sum {
    margin: 27px 0 20px;
}

#sum-button {
    margin: 10px 0;
}

#sum-button a {
    float: left;
    margin-right: 5px;
    display: block;
    width: calc(50% - 5px);
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    transition: all .3s;
}

#sum-button a:hover {
    color: white;
    background: black;
}

#sum-button a:nth-of-type(2) {
    border-color: #eb0028;
    background: #eb0028;
    color: #fff;
}

#sum-button a:nth-of-type(2):hover {
    background: orange;
}
/* 删除操作时 动画span */
#del-span{
    display: block;
    height: 2px;
    width: 0%;
    background: #eb0028;
    position: absolute;
    top: 0;
    left: 0;
}